<div ui-view="top"></div>
<div id="myContent_data" style="overflow: hidden">
    <a href="download/QSC_cal.xlsx">点击下载机加池评估表 - 模板 .xlsx</a><br/> <br/>

    <div id="analyze">
        <input type="button" id="analyzeButton" value=" 数据分析图  "
               onclick="window.open('analyzeImage.jsp');">
        <input type="button" id="preHButton" value=" 水池水位分析图  "
               onclick="window.open('preHImage.jsp');">
    </div>
    <div id="btn_group_data" class="btn-group-vertical btn-group-lg" role="group">
        <button id="btn_addRow" class="btn btn-primary" onclick="javascript:addDataAnalysis()">添加
        </button>
        <button id="btn_editRow" class="btn btn-primary" onclick="javascript:editDataAnalysis()">编辑
        </button>
        <button id="btn_deleteRow" class="btn btn-primary" onclick="javascript:deleteDataAnalysis()">删除
        </button>
        <button id="btn_searchAll" class="btn btn-primary" onclick="javascript:listAllDataAnalysis()">查询全部
        </button>
        <button id="btn_search" class="btn btn-primary" onclick="javascript:searchDataAnalysis()">条件查询
        </button>
    </div>
    <center>
        <table id="dataAnalysisbody" class="easyui-datagrid">
        </table>
    </center>

    <!-- 编辑数据的div，默认看不到 -->
    <div id="divEdit">
        <div id="tabEdit">
            <form id="frmEdit">
                <input type="hidden" id="ID" name="dataAnalysis.ID"/> <br/>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;水 池 编 号 : &nbsp; &nbsp;
                        <input type="text" size="25" id="PoolID" name="dataAnalysis.PoolID"/>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;时 &nbsp; &nbsp; &nbsp; &nbsp; 间 : &nbsp; &nbsp;
                        <input type="date" width="100px" id="t" name="dataAnalysis.t"/>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;总 进 水 量 : &nbsp; &nbsp;
                        <input type="text" size="25" id="InV" name="dataAnalysis.InV"/>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;出 &nbsp;水 &nbsp; 量 : &nbsp; &nbsp; &nbsp;
                        <input type="text" size="25" id="OutV" name="dataAnalysis.OutV"/>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;洗虹吸滤池 : &nbsp; &nbsp;
                        <input type="text" size="25" id="HXOutV" name="dataAnalysis.HXOutV"/>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;洗V型滤池 : &nbsp;&nbsp; &nbsp;
                        <input type="text" size="25" id="LCOutV" name="dataAnalysis.LCOutV"/>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;炭池反冲洗 : &nbsp; &nbsp;
                        <input type="text" size="25" id="TCOutV" name="dataAnalysis.TCOutV"/>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;机加池排泥 : &nbsp; &nbsp;
                        <input type="text" size="25" id="JJOutV" name="dataAnalysis.JJOutV"/>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        &nbsp; &nbsp; &nbsp; &nbsp;回 流 进 水: &nbsp;&nbsp; &nbsp;
                        <input type="text" size="25" id="HLInV" name="dataAnalysis.HLInV"/>
                    </dd>
                </dl>
                <input type="hidden" class="easyui-numberbox" precision="2" id="Storage" name="dataAnalysis.Storage"/>
                <input type="hidden" class="easyui-numberbox" precision="2" id="PreH" name="dataAnalysis.PreH"/>
            </form>
        </div>
    </div>
    <div id="divSearch">
        <div id="tabSearch">
            <form id="frmSearch">
                <dl>
                    <dd>
                        <br/>
                        &nbsp; &nbsp; &nbsp; &nbsp; 时 &nbsp; 间:
                        <input class="easyui-datebox" style="width:120px" id="searchT" name="searchT" text=""
                               type="text">
                    </dd>
                    <dd>
                        <br/>
                        &nbsp; &nbsp; &nbsp; &nbsp; 水池编号:
                        <input type="text" size="15" id="searchPoolID" name="searchPoolID"/>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</div>
<div ui-view="down"></div>