<div ui-view="top"></div>
<div id="myPage">
    <div id="myContent" style="overflow: hidden">
        <div id="mainView" style="z-index: 1" >
            <button id="btn_start" class="btn btn-info btn-lg btn_main" value="0">开始</button>
            <button id="btn_upS" class="btn btn-info btn-lg btn_main">加速</button>
            <button id="btn_downS" class="btn btn-info btn-lg btn_main">减速</button>
            <button id="btn_reset" class="btn btn-info btn-lg btn_main">重新开始</button>
            <canvas id="canvas_main" width="1600" height="757"></canvas>
            <a ui-sref="single_qs"  id="name_QS"  class="name_ob">取水泵房</a>
            <a ui-sref="single_qs"  id="name_QS2"  class="name_ob">取水泵房</a>
            <a ui-sref="single_jjc" id="name_JJC1"  class="name_ob">机加池</a>
            <a ui-sref="single_jjc" id="name_JJC2"  class="name_ob">机加池</a>
            <a ui-sref="single_jjc" id="name_JJC3"  class="name_ob">机加池</a>
            <a ui-sref="single_vl" id="name_VL"  class="name_ob">V型滤池</a>
            <a href="#" id="name_TC" class="name_ob" >活性炭池</a>
            <a href="#" id="name_TC1" class="name_ob" >活性炭池</a>
            <a href="#" id="name_CY" class="name_ob" >臭氧混合池</a>
            <a href="#" id="name_CYC" class="name_ob" >臭氧生产池</a>
            <a href="#" id="name_YC" class="name_ob" >预沉池</a>
            <a href="#" id="name_HHJ" class="name_ob" >混合井</a>
            <a href="#" id="name_HHJ2" class="name_ob">混合井</a>
            <a href="#" id="name_HX" class="name_ob" > 虹吸滤池</a>
            <a href="#" id="name_QSC1" class="name_ob" >清水池</a>
            <a href="#" id="name_QSC2" class="name_ob" >清水池</a>
            <a href="#" id="name_QSC3" class="name_ob" >清水池</a>
            <a href="#" id="name_QSC4" class="name_ob" >清水池</a>
        </div>
    </div>
</div>
<div ui-view="down"></div>