<div class="top">
    <div class="top_a">
        <div class="top_logo"><img src="image/images/Top_logo.jpg" /></div>
        <div class="toplogo_02"><img src="image/images/Top_logo_02.jpg" /></div>
        <div class="nav">
            <ul class="nav__menu">
                <li class="nav_bag01"><a ui-sref="show_dynamic">动态演示</a>
                    <ul class="Secondary_menu">
                        <li class="Secondary_menu_item"><a ui-sref="show_dynamic">厂平展示</a></li>
                        <li class="Secondary_menu_item"><a ui-sref="ZP_new">新系列工艺线</a></li>
                        <li class="Secondary_menu_item"><a ui-sref="ZP_old">旧系列工艺线</a></li>
                    </ul>
                </li>
                <li class="nav_bag02"><a ui-sref="show_dynamic">水量控制</a>
                    <ul class="Secondary_menu">
                        <li class="Secondary_menu_item"><a href="GN_FMControl.jsp">水量增减</a></li>
                        <li class="Secondary_menu_item"><a ui-sref="dataAnalysis">数据分析</a></li>
                        <!--  <li class="Secondary_menu_item"><a href="shujufenxi.jsp">数据分析</a></li> -->
                    </ul>
                </li>
                <li class="nav_bag03"><a ui-sref="show_dynamic">设备检修</a>
                    <ul class="Secondary_menu">
                        <li class="Secondary_menu_item"><a href="fix.jsp">维修单元显示</a></li>
                        <li class="Secondary_menu_item"><a href="fangan.jsp">方案生成</a></li>
                    </ul>
                </li>
                <li class="nav_bag04"><a ui-sref="show_dynamic">运行评估</a>
                    <ul class="Secondary_menu">
                        <li class="Secondary_menu_item"><a ui-sref="poolAnalysis">机加池分析</a></li>
                        <!-- <li class="Secondary_menu_item"><a href="jijiachi.jsp">机加池分析</a></li> -->
                        <li class="Secondary_menu_item"><a href="#">膜池分析</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="Check_btn"><input type="text" mame="Checks" class="Check_input"/></div><br class="clear" />
    </div>
</div>
<div class="content">
    <div class="content_Bg1"><img src="image/images/background02.png" width="1603" height="46" /></div>
</div>