<div ui-view="top"></div>
<div id="ZP_New_content">
    <button id="btn_start_ZP" class="btn btn-info">开始</button>
    <button id="btn_downS_ZP" class="btn btn-info">减速</button>
    <span id="txt_speed">1.0</span>
    <button id="btn_upS_ZP" class="btn btn-info">加速</button>
    <button id="btn_reset_ZP" class="btn btn-info">重置</button>
    <div id="mainView" style="position: absolute;z-index: 1" >
        <canvas id="canvas_ZP_new" width="1600" height="757"></canvas>
    </div>
</div>
<div ui-view="down"></div>